body {
  font-family: 'Open Sans', sans-serif;  /* выбор шрифта */
  color: #ffffff;                      /* цвет шрифта */
  font-size: 18px;                       /* Определяет размер шрифта элемента */
  line-height: 1.42;                     /* междустрочный пробел */
  margin: 0;
  -webkit-font-smoothing: antialiased;   /* свойства для сглаживания шрифта */
}


a {
  color: inherit;   /* цвет для ссылок, inherit - наследование от блока */
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none; /*убрать точки стилей*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body, html {
  height: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url("../img/Images/bg/screen.jpg") center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central-asia {
  margin-bottom: 65px;
}

.central-asia {
  opacity: 0;
  animation: zoom 1s ease-in;
  animation-fill-mode: forwards;
}

.central-desc {
  margin-bottom: 54px;
}

@keyframes zoom {
  from {
    transform: scale(.7);
  }

  20% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}


.btn {
  background: #f5170e;
  border-radius: 35px;
  padding: 17px 63px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #F5170E;
}

.btn:hover {
  background: #da0100;
  color: #fff;
}
