.main {
  color: #000000;
}

.title {
  color: #fff;
  display: flex;
  align-items: flex-start;
  width: 45%;
  min-height: 243px;
  flex-direction: column;
  margin-bottom: 100px;
}

.title-name {
  font-size: 71.5px;
  font-weight: bold;
  margin-bottom: 102px;
}

.title-list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.title-links_space{
  margin-left: 4px;
  margin-right: 4px;
}

.title-link_services {
  font-weight: bold;
}