.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-display {
  display: flex;
  width: 156px;
  align-items: center;
} 
 
.paginator-list {
  display: flex;
}

.paginator-item {
  text-align: center;
}

.paginator-item_active .paginator-link:hover {
  background: #fff;
  color: #F5170E;
}

.paginator-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 36px;
}