.section-tours {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;
}

.tours {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 49px;
}

.tours::after {
  content: url('../../img/Images/icons/flame.png');
  margin-left: 16px;
}

.tours-list {
  display: flex;
  justify-content: space-between;
}

.tours-item {
  width: 31.5%; 
}

.tour {
  min-height: 450px;
  background: #fff;
  border-radius: 6px;
  color: black;
}

.tours-item_header {
  display: flex;
  border-radius: 6px 6px 0px 0px ;
}

.tours-header {
  width: 100%;
  height: 143px;
  object-fit: cover;
  display: flex;
  border-radius: 6px 6px 0px 0px;
}

.name {
  padding: 34px 21px;
}

.name-tours {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 19px;
}

.services {
  display: flex;
  justify-content: space-between;
  margin: 2px 39px 22px 7px;
}

.icon-title_calendar, .icon-title_meal {
  font-size: 17px;
  display: flex;
  align-items: center;
}

.icon-title_calendar::before {
  content: url('../../img/Images/icons/offers/calendar.png');
}

.icon-title_meal::before {
  content: url('../../img/Images/icons/offers/meal.png');
}

.icon-title_calendar::before, .icon-title_meal::before {
  margin-right: 7px;
}

.text-tours {
  font-size: 14px;
  margin-bottom: 40px;
}

.click-tours {
  background: #f5170e;
  border-radius: 35px;
  padding: 16px 39px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.click-tours:hover {
  background: #da0100;
}